%section.ten-oh-announcement
  .container
    .row
      .col-sm-11.col-lg-6.ten-oh-label
        %span 10.4
      .col-sm-11.col-lg-6.ten-oh-description
        .ten-oh-description-body
          %h2.main-heading New features every month
          %p In this month’s release of GitLab 10.4 – the first of 2018 – we've added new ways to write your application using the new Web IDE editor (beta), new ways to test the security of your application with Dynamic Application and Container Security Testing, and much more. 
          .btn-group
            %a.btn.cta-btn.ghost{href: "/2018/01/22/gitlab-10-4-released/"}
              See what’s new
