---
layout: job_page
title: "Director of Developer Relations"
---

As the Director of Developer Relations, you will be responsible for managing and building the team that focuses on supporting contributors, developers, and students. The team will serve as advocates and evangelists working to grow, cultivate and support the GitLab community of contributors, developers, students and all those passionate about GitLab. You will help to make it easy to contribute to GitLab, help our community give feedback to our product and documentation, and help to create educational programs for GitLab.

## Responsibilities

* Build a global team to focus on the developer experience of the GitLab community, to provide the very best support, guidance and engagement to empower developers using GitLab, contributors developing code for GitLab, and students learning to develop software.
* Create and execute a plan to grow the Developer Relations team, building out the Developer, Contributor and Student programs to grow each segment and increase engagement.
  * Manage three pipelines to increase the number of Developers, Contributors and Students involved with GitLab. Key results include quarterly growth targets for each group, and targets for increase in engagement across each group.
     * Lead the community advocacy team chartered with engaging and supporting community members as they use, explore and engage with GitLab. Results are measured based on increasing the number of Contributors and the level of engagement with the community across digital channels.
     * Develop and manage developer engagement programs for external communities to gather feedback, engage in dialogue, educate and evangelize GitLab. Results are mesaured based on growing the number of Developers using GtiLab.
     * Create outreach programs to engage educational institutions to encourage and facilitate the usage of GitLab, ensuring tomorrow’s developers have access to GitLab within their education environments. Results are mesured based on the number of new institutions that start using GitLab, and growing the number of Students using GitLab.
* Manage sponsorships, participate in events and community meetups, create new meetups, host webinars and give talks. Results are measured within the three pipelines for the number of people engaged with for each activity, and the number of conversions from each activity across Developers, Contributors and Students.
* Work with the technical writing team and content marketing to plan and help create engaging developer content for our blog, video, social media, and other outlets.
* Work with our content marketing and technical writing teams to define and launch scalable tutorials and quickstart guides to support developers onboarding and adoption of GitLab.
* Work with our product marketing team to support our monthly release with developer education tools for the new features and products launching.
* Focus on developer experience and how developer relations can help get user feedback into the product and documentation.
* Work with the field marketing manager to support events efforts through developer advocacy.

## Requirements

* You were a full-time developer in a previous life but prefer to work with the developer community to improve experience and support through education.
* You have 5-7 years of experience leading developer relations or community advocacy programs, preferably open source in nature, and you have built a team before.
* You are creative. You’ve made people happy with your quirky campaigns.
* You give a great keynote and write a great blog and have videos and articles to prove it.
* You have experience facilitating sensitive and complex community situations with humility, empathy, judgment, tact, and humor.
* Excellent spoken and written English.
* Familiar with Git, Ruby, and GitLab.
* Analytical and data driven in your approach to building and nurturing communities.
* You are obsessed with making developers happy. You know that the slightest trouble in getting started with a product can ruin customer happiness.
* Bonus points for having an existing network from a diverse set of communities and social media platforms.
* Media training and experience in communicating with journalists, bloggers and other media on a range of technical topics is a plus.
* You share our values, and work in accordance with those values.

## Hiring Process

<%= partial "includes/apply_and_about" %>
