---
layout: job_page
title: "People Operations Generalist"
---

## Responsibilities

- Assist the Chief Culture Officer to develop the strategic direction for People Ops, and implement the functional steps to achieve those goals.
- Develop and implement HR policies, from recruitment and pay, to diversity and employee relations.
- Work with People Ops and the executive team to establish entities in new countries as we scale.
- Develop contracts and benefits programs for each entity.
- Assist and advise managers in delicate and difficult People Operations issues (special circumstances, conflicts, sickness, layoffs, etc.)
- Meet with managers on a regular basis to discuss their needs within the organization and any issues.
- Work with the Chief Culture Officer to develop leadership and individual contributor training.
- Create People Operations processes and strategies following the GitLab workflow, with the goal always being to make things easier from the perspective of the team members.
- Keep it efficient and DRY.
- Provide assistance to the team with miscellaneous support tasks.
- Suggest and implement improvements to People Operations, for example for performance reviews and various types of training.
- Write job descriptions and promotion criteria.

## Requirements

- Prior extensive experience in an HR or People Operations role
- Clear understanding of HR laws in one or multiple countries where GitLab is active
- Ability to work strange hours when needed (for example, to call an embassy in a different continent)
- Excellent written and verbal communication skills
- Enthusiasm for and broad experience with software tools
- Proven experience quickly learning new software tools
- Willing to work with git and GitLab whenever possible
- Willing to make People Operations as open and transparent as possible
- Wanting to work for a fast moving startup
- You share our [values](/handbook/values), and work in accordance with those values
- The ability to work in a fast paced environment with strong attention to detail is essential.
- Successful completion of a [background check](/handbook/people-operations/code-of-conduct/#background-checks).


<%= partial "includes/apply_and_about" %>
