- is_dark = locals.fetch(:is_dark, false)

.badge-container{ class: "#{'dark' if is_dark}" }
  .top-row
    %a{"title" => "Available for GitLab self-hosted Libre users", "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if tier_hash[:gitlab_libre]}"}<
        LIBRE
    %a{"title" => "Available for GitLab self-hosted Starter users", "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if tier_hash[:gitlab_starter]}"}<
        STARTER
    %a{"title" => "Available for GitLab self-hosted Premium users", "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if tier_hash[:gitlab_premium]}"}<
        PREMIUM
    %a{"title" => "Available for GitLab self-hosted Ultimate users", "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if tier_hash[:gitlab_ultimate]}"}<
        ULTIMATE
  .bottom-row
    %a{"title" => "Available for GitLab.com Free users", "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if tier_hash[:gitlab_free] || (gitlab_com != false && tier_hash[:gitlab_libre])}"}<
        FREE
    %a{"title" => "Available for GitLab.com Bronze users", "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if tier_hash[:gitlab_bronze] || (gitlab_com != false && tier_hash[:gitlab_starter])}"}<
        BRONZE
    %a{"title" => "Available for GitLab.com Silver users", "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if tier_hash[:gitlab_silver] || (gitlab_com != false && tier_hash[:gitlab_premium])}"}<
        SILVER
    %a{"title" => "Available for GitLab.com Gold users", "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if tier_hash[:gitlab_gold] || (gitlab_com != false && tier_hash[:gitlab_ultimate])}"}<
        GOLD
