---
layout: job_page
title: "People Operations Specialist"
---

## Responsibilities

- Responsible for the day to day administration of People Operations and assisting team members with their People Operations questions.
- Assist the Chief Culture Officer with the implementation of programs aligned with the strategic direction of the organization.
- Coordinate with our payroll and benefits providers, and using our People Ops Information System and ATS; currently BambooHR and Lever.
- Create People Operations processes and strategies following the GitLab workflow, with the goal always being to make things easier from the perspective of the team members.
- Keep it efficient and DRY.
- Provide assistance to the team with miscellaneous support tasks.
- Suggest and implement improvements to People Operations policies, processes and procedures.
- Help write job descriptions and promotion criteria.
- Maintain our HRIS system, ensuring Data Integrity and alignment with all ancillary systems, such as Grovo and Finance.

## Requirements

- Prior extensive experience in an HR or People Operations role
- Clear understanding of HR laws in one or multiple countries where GitLab is active
- Ability to work strange hours when needed (for example, to call an embassy in a different continent)
- Excellent written and verbal communication skills
- Enthusiasm for, and broad experience with, software tools
- Proven experience quickly learning new software tools
- Willing to work with git and GitLab whenever possible
- Willing to make People Operations as open and transparent as possible
- Wanting to work for a fast moving startup
- You share our [values](/handbook/values), and work in accordance with those values
- The ability to work in a fast paced environment with strong attention to detail is essential.
- Successful completion of a [background check](/handbook/people-operations/code-of-conduct/#background-checks).


<%= partial "includes/apply_and_about" %>
