---
layout: job_page
title: "Candidate Experience Specialist"
---

This role reports to the Director of Recruiting and works daily to support the recruiting team.

## Responsibilities

* Collaborate with Recruiters and Recruiting Manager to understand the process for each open vacancy
* Work in Applicant Tracking System (ATS) to help recruiters maintain a positive candidate experience for applicants
* Manage inbound applicant traffic for all roles
* Open and close vacancies through GitLab with the coordination of ATS
* Own scheduling process for screening calls and all other interviews
* Assist with conducting reference checks for all candidates entering the final round of interview phase
* Build an effective network of internal and external resources to call on as needed
* Ensure applicants receive timely, thoughtful and engaging messaging throughout the hiring process
* Assist Recruiting team with putting together GitLab hiring packages and corresponding with hiring managers and CEO for proper approvals
* Create and stage offer letter and employment contracts for recruiting team
* Assist with Onboarding processes, including ordering equipment and supplies for team members
* Promote our values, culture and remote only passion

## Requirements

* Desire to learn about Talent Acquisition and Human Resources from the ground level up
* Demonstrated ability to work in a team environment and work with C-Suite level candidates Focus on delivering an excellent candidate experience
* Ambitious, efficient and stable under tight deadlines and competing priorities
* Proficient in Google Suite
* Ability to build relationships with managers and colleagues across multiple disciplines and timezones
* Outstanding written and verbal communication skills across all levels
* Willingness to learn and use software tools including Git and GitLab
* Organized, efficient, and proactive with a keen sense of urgency
* Successful completion of a [background check](/handbook/people-operations/code-of-conduct/#background-checks).
* Excellent communication and interpersonal skills
* Prior experience using an applicant tracking system, Lever experience is a plus
* Ability to recognize and appropriately handle highly sensitive and confidential information
* Experience working remotely is a plus
* You share our [values](/handbook/values), and work in accordance with those values.

## Hiring Process

<%= partial "includes/apply_and_about" %>
