---
layout: job_page
title: "Chief Revenue Officer"
---

## Responsibilities

* Lead our account managers
* Get directly involved in deals when necessary
* Post-mortem analysis on wins/losses
* Manage and report on sales pipeline
* Provide input on product direction and strategy as a result of sales
  performance, post-mortems and competitive analysis.
* Help marketing with developing product/content marketing materials (blog
  posts, white papers, product briefs, slide decks) that reflect GitLab's core
  value proposition, competitive advantage and market positioning
- Must successfully complete a [background check](/handbook/people-operations/code-of-conduct/#background-checks).

<%= partial "includes/apply_and_about" %>
